<blockquote class="callout">
  <strong>September 2018: This material is in the early prototyping stage,</strong>
  and is meant mostly to establish what will be covered after the companion course
  <a href="https://merely-useful.github.io/still-magic/">Still Magic</a>.
  We would appreciate your help:
  please <a href="mailto:{{site.email}}">send us suggestions</a>
  or <a href="{{site.repo}}/issues">file an issue</a> in <a href="{{site.repo}}">our GitHub repository</a>.
  (We would particularly appreciate descriptions of common errors and how to fix them&mdash;there are subsections for these in every lesson.)
  Please note that all contributors are required to abide by <a href="{{'/en/conduct/'|relative_url}}">our Code of Conduct</a>.
</blockquote>
